body
{
    margin: 0;
    padding: 0;
}

.baslik
{
    text-align: center;
}

.baslik h1
{
    font-size: 2em;
    color: red;
}

nav
{
    text-align: center;
}

nav li
{
    display: flex;
    display: inline-block;
    margin-right: 1em;
}

.logo
{
    text-align: center;
}

.logo h1
{
    font-size: 1.5em;
    color: blue;
}

/* about */
.about h2
{  
    color: brown;
    padding-left: 1em;
}

.about p
{  
    color: gray;
    padding-left: 2em;
}

/* about */

/* index */

.urunler
{
    margin-left: auto;
    margin-right: auto;
}


.urunler ul
{
 text-align: center;
 list-style-position: inside;
}



/* index */



/* Market */

.urunlerimiz .gorseller  div img
{
    width: 100%;
    height: 12.5em;
}

.urunlerimiz .gorseller div
{

    display: inline-block;
    width: 23%;
    background-color: blue;
    border-radius: .5em;
    border: 1px solid blue;
    margin-left: .5em;
    filter: grayscale(1);
    color: white;
    transition: .2s;
}



.urunlerimiz .gorseller div:hover
{
    filter: grayscale(0);
    color: black;
}

/* Market */